<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" type="text/css" href="/stylesheets/clinicAdminStyle.css" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script type="text/javascript">
        function displaySecondDoseInput(choice){
            if(choice.value == 1){
                document.getElementById('hidefirstDose').style.display = "block";
                document.getElementById('hidesecondDose').style.display = "none";

            }
            else if(choice.value == 2){
                document.getElementById('hidefirstDose').style.display = "none";
                document.getElementById('hidesecondDose').style.display = "block";

            }
          }
    </script>
<!--    <script src="/clinicAdmin.js"></script>-->
</head>

<body>
<h1>Clinic Administrator</h1>
<!--START - Portion taken from: https://bootsnipp.com/snippets/7nmOW -->
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://raw.githubusercontent.com/charliekid/RandomPractice/master/idea2.png" alt="rocket_contact"/>
    </div>

    <form action="/clinicAdmin" method="post">
<!--        <h3>Drop Us a Message</h3>-->

        <div class="row">

            <div class="col-md-6">
<!--                <div class="approvalForm">-->
                <div class="form-group">
                    <label for="doseNumberPicker">Select Dose Number</label>
                    <select class="form-control" id="doseNumberPicker" name="doseNumberPicker" onchange="displaySecondDoseInput(this)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="firstName" class="form-control" placeholder="{{firstName}}" value="{{firstName}}" />
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" class="form-control" placeholder="{{lastName}}" value="{{lastName}}" />
                </div>
                <div class="form-group">
                    <label for="vaccineMfr">Select Vaccine Manufacturer</label>
                    <select class="form-control" id="vaccineMfr" name="mfrName" >
                        <option value="moderna">Moderna</option>
                        <option value="pfizer">Pfizer</option>
                    </select>
                </div>

<!--                <div id="hidefirstDose">-->
<!--                <div class="form-group">-->
<!--                    <p>Format Required: yyyy-MM-dd</p> <br>-->
<!--                    <input type="text" name="dateOne" class="form-control" placeholder="Vaccine 1 Date *" value=""  required/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="text" name="lotNumberOne" class="form-control" placeholder="Vaccine 1 Lot # *" value="" required/>-->
<!--                </div>-->
<!--                </div>-->
<!--                <div id="hidesecondDose" style="display:none">-->
<!--                    <div class="form-group">-->
<!--                        <p>Format Required: yyyy-MM-dd</p>-->
<!--                        <input type="text" name="dateTwo" class="form-control" placeholder="Vaccine 2 Date *" value="" required/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" name="lotNumberTwo" class="form-control" placeholder="Vaccine 2 Lot # *" value="" required/>-->

                <!--                This is for if there is a first dose present it will auto fill for the clinic admin-->
                {{#if firstDate}}
                    <div id="hidefirstDose">
                        <div class="form-group">
                            <p>Format Required: yyyy-MM-dd</p> <br>
                            <input type="text" name="dateOne" class="form-control" placeholder="{{firstDate}}" value="{{firstDate}}"  required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lotNumberOne" class="form-control" placeholder="{{firstLot}}" value="{{firstLot}}" required/>
                        </div>
                    </div>
                    <div id="hidesecondDose" style="display:none">
                        <div class="form-group">
                            <p>Format Required: yyyy-MM-dd</p>
                            <input type="text" name="dateTwo" class="form-control" placeholder="Vaccine 2 Date *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lotNumberTwo" class="form-control" placeholder="Vaccine 2 Lot # *" value="" required/>
                        </div>
                    </div>

                {{else}}
                    <div id="hidefirstDose">
                        <div class="form-group">
                            <p>Format Required: yyyy-MM-dd</p> <br>
                            <input type="text" name="dateOne" class="form-control" placeholder="Vaccine 1 Date *" value=""  required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lotNumberOne" class="form-control" placeholder="Vaccine 1 Lot # *" value="" required/>
                        </div>
                    </div>
                    <div id="hidesecondDose" style="display:none">
                        <div class="form-group">
                            <p>Format Required: yyyy-MM-dd</p>
                            <input type="text" name="dateTwo" class="form-control" placeholder="Vaccine 2 Date *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lotNumberTwo" class="form-control" placeholder="Vaccine 2 Lot # *" value="" required/>
                        </div>
                    </div>

                {{/if}}
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Approval"/>
                </div>





<!--                </div>-->

            <!--
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div> -->

        </div>
        </div>
    </form>

</div>
<!--END - Portion taken from: https://bootsnipp.com/snippets/7nmOW -->
</body>

</html>